<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{../fragments/head-frag :: head}"></th:block>
<body class="bg-dark text-white">

	<th:block th:replace="../fragments/header :: header" th:with="name='andrea'"></th:block>
	
	<div class="container py-5">
	
		<h1>Pizze:</h1>
		
		<p th:if="${pizze.size() == 0}">
			NON CI SONO PIZZE
		</p>
		
		<ul>
		
			<li
				th:each="pizza : ${pizze}"
				th:object="${pizza}"
				>
				<a th:href="@{/pizze/{id}(id=*{id})}">
				
					[[*{nome}]]
				
				</a>
			
			</li>
		
		</ul>
	
	</div>

</body>
</html>